.App {
  text-align: center;
  font-family: "REM", sans-serif;
  height: "100%";
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 48px;
  margin-right: 48px;
}

.Nav-element-container {
  flex-grow: 2;
  text-align: left;
}
.Nav-element {
  text-decoration: none;
  color: #2e2834;
  padding-bottom: 8px;
  font-size: 18px;
  margin-right: 8px;
}

.Nav-element:hover {
  border-bottom: 1px solid #2e2834;
  border-top: 1px solid transparent;
}

.Title {
  color: #2e2834;
  text-decoration: none;
  font-weight: 1000;
  flex-grow: 3;
  font-size: 24px;
  text-align: left;
}

.Contact {
  border-bottom: 1px solid #2e2834;
  border-top: 1px solid transparent;
  text-decoration: none;
  font-weight: 800;
  color: #2e2834;
  padding-bottom: 8px;
  font-size: 18px;
  margin-right: 8px;
}
