.App {
  text-align: center;
  font-family: "REM", sans-serif;
  height: "100%";
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 48px;
  margin-right: 48px;
}

.Nav-element {
  text-decoration: none;
  color: #ce98e7;
  font-size: 18px;
  margin-right: 8px;
}

.bold {
  font-weight: 1000;
  padding-bottom: 0;
  text-align: left;
}

.Nav-element:hover {
  border-bottom: 1px solid #ce98e7;
  border-top: 1px solid transparent;
  padding-top: 8px;
  padding-bottom: 8px;
}

.Title {
  color: #ce98e7;
  text-decoration: none;
  font-weight: 1000;
  font-size: 24px;
  text-align: left;
}

.Contact {
  border-bottom: 1px solid #ce98e7;
  padding-top: 12px;
  text-decoration: none;
  font-weight: 800;
  color: #ce98e7;
  padding-bottom: 8px;
  font-size: 18px;
  margin-right: 8px;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .Title {
    font-size: 24px;
    font-weight: 800;
  }
  .web {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: flex-end;
  }
  .Nav-element {
    text-align: right;
  }
}

nav {
  padding: 5%;
}

.menu {
  transform: translateX(150%);
  transition: transform 0.3s ease;
  overflow: hidden;
}

.menu.visible {
  transform: translateX(-50%);
}

.menu-icon {
  border: none;
  background: none;
  font-size: 4vw;
  border-radius: "20vw";
  color: #ce98e7;
  cursor: pointer;
  position: fixed;
  margin-right: 5%;
  transform: scale(150%);
  transition: transform 0.3s ease;
}

.menu-icon.visible {
  transform: scale(100%);
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
}
