.App {
  text-align: center;
  font-family: "REM", sans-serif;
  height: "100%";
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 48px;
  margin-right: 48px;
}

.Nav-element {
  text-decoration: none;
  color: #ce98e7;
  padding-bottom: 8px;
  font-size: 18px;
  margin-right: 8px;
}

.bold {
  font-weight: 1000;
  padding-bottom: 0;
  text-align: left;
}

.Nav-element:hover {
  border-bottom: 1px solid #ce98e7;
  border-top: 1px solid transparent;
}

.Title {
  color: #ce98e7;
  text-decoration: none;
  font-weight: 1000;
  font-size: 24px;
  text-align: left;
}

.Contact {
  border-bottom: 1px solid #ce98e7;
  padding-top: 12px;
  text-decoration: none;
  font-weight: 800;
  color: #ce98e7;
  padding-bottom: 8px;
  font-size: 18px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  .App-header {
    flex-direction: column;
    height: 20%;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 24px;
    margin-right: 24px;
  }
  .Title {
    font-size: 24px;
    font-weight: 800;
  }
  .Nav-element {
    font-size: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .Contact {
    font-size: 24px;
    padding-top: 16px;
  }
  .bold {
    font-size: 18px;
  }
}
